<!-- Container -->
<div class="container">

    <!-- Row -->
    <div id="recipes-list">

        {% for recipe in site.data.recipes %}

        <header>
            <h2>{{ recipe.recipeName}}</h2>
            <h4>Submitted by {{ recipe.recipeAuthor}}, {{ recipe.authorUniSchool }}</h4>
            <ul class="topstuff">
                <li><strong>Serves: </strong>{{ recipe.numberServed }}</li>
                <li><strong>Preparation time:</strong>{{ recipe.prepTime }}</li>
                <li><strong>Cooking time:</strong>{{ recipe.cookTime }}</li>
            </ul>
        </header>

        <img src="images/{{ recipe.imageFile }}" alt="" />

        <h3>Ingredients</h3>
        <ul style="list-style-type:none">
            {% for ingredientsLine in recipe.ingredients %}
            <li>{{ ingredientsLine }}</li>
        </ul>

        <h4><emph>Indicative cost of ingredients: </emph>£ (inexpensive)
        </h4>

        <p></p>

        <h3>Method</h3>
        <p>
           {{ recipe.method }}
        </p>

        <h3>Why I chose this recipe</h3>
        <p>
            {{ recipe.recipeStory }}
        </p>

        {$ endfor %}
        

    </div>
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js'></script>
